<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shounak.shounakbosejiit.com.calldoc">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon7"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon7"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"/>
        <activity android:name=".Add_doc" />
        <activity android:name=".Add_pat" />
        <activity android:name=".doc_list" />
        <activity android:name=".select_time" />
        <activity android:name=".BookAsk" />
        <activity android:name=".Splash">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
    </application>

</manifest>